@model IEnumerable<AirConditioner.Core.Dtos.EngineVolumeDto>

@{
    ViewData["Title"] = "Index";
}

<h1>حجم موتور</h1>

<p>
    <a asp-action="add">افزودن </a>
</p>
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new {  id=item.Id })
                @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
